/* App.css */
.title {
  font-family: "Arial", sans-serif; /* Use your preferred font-family */
  font-size: 24px; /* Adjust the font size */
  font-weight: bold; /* Make the text bold */
  color: #3366cc; /* Set the text color (you can choose your own color) */
  text-align: center; /* Center the text */
  text-transform: uppercase; /* Convert the text to uppercase */
  letter-spacing: 2px; /* Add some letter spacing */
  margin-bottom: 10px; /* Add space at the bottom */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Add a subtle text shadow */
}

.f_line {
  color: #32a74b; /* Set the text color (you can choose your own color) */
  text-align: center; /* Center the text */
}

.text_link {
  color: #32a74b; /* Set the text color (you can choose your own color) */
  text-align: center; /* Center the text */
}

.formContainer {
  position: sticky;
  top: 0; /* Keep it at the top of the viewport */
  z-index: 10; /* Ensure it stays above other content */
}

label {
  margin-bottom: 8px; /* Adjust as needed for spacing */
}
/* Additional styling for SearchBar and MakeRequest components as needed */
